.order {
    padding-top: 75px;
    &__title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        color: #000000;
    }
    &__block {
        display: flex;
        margin-top: 79px;
        border: 1px solid #55B74C;
        padding: 49px 45px;
        &_image {
            margin-left: 10px;
        }
        &_form {
            display: flex;
            flex-direction: column;
            &_input {
                width: 689px;
                height: 56px;
                border: 1px solid #55B74C;
                border-radius: 5px;
                padding-left: 19px;
                margin: 10px 0;
                &:first-child {
                    margin-top: 0;
                }
                &_third {
                    width: 689px;
                    height: 219px;
                }
            }
            &_buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 7px;
            }
        }
    }
}